<h1>Demo</h1>
{{!-- {{#if username}}
<p>Welcome, {{username}}</p>
{{else}}
<p>Guest</p>
{{/if}} --}}

{{!-- {{#with product}}
<div>
    <p>{{name}}</p>
    <p>{{price}}</p>
</div>
{{/with}} --}}

{{!-- {{#if contacts}}
<ul>
    {{#each contacts}}
    {{>userCard}}

    {{/each}}
</ul>
{{else}}
<p>no contacts</p>
{{/if}} --}}