<li>
    <strong>{{name}} : £{{price}}</strong>
    <p>{{description}}</p>
    <p>City: {{city}}</p>
    <p><a href="/catalog/{{_id}}">Details</a></p>
    <div class="img-cont">
        <img src="{{imageUrl}}">
    </div>
</li>