<main>
    <section id="deatils-page">
        <div class="wrapper">
            {{#with house}}
            <div class="product-img">
                <img src="{{imageUrl}}" />
            </div>
            <div class="product-info">
                <div class="product-text">
                    <div class="product-text">
                        <h1>Name: {{name}}</h1>
                        <h2>Type: {{type}}</h2>
                        <h4>Year: {{year}}</h4>
                        <h4>City: {{city}}</h4>
                        <p>
                            Description: {{description}}
                        </p>

                        {{#if isRented}}
                        <p>
                            People rented this housing: {{tenantsList}}
                        </p>
                        {{else}}
                        <p>
                            People rented this housing: There are no tenants
                            yet.
                        </p>
                        {{/if}}

                    </div>
                </div>


                <div class="product-btn">
                    {{#if isOwner}}
                    <a href="/house/{{_id}}/edit" class="edit">Edit</a>
                    <a href="/house/{{_id}}/delete" class="remove">Delete</a>
                    {{else if user}}

                        {{!-- RENTED/ NOT --}}
                        {{#if hasRented}}
                        <p class="alRentHome">You have already rent this home</p>
                        <!-- logged in user with available pieces-->
                        {{else}}
                        {{#if isFree}}
                        <a href="/house/{{_id}}/rent" class="rentHome">Rent a home, available {{free}} housing</a>

                        {{else}}
                        <!-- logged in user with no available pieces-->
                        <p class="no-housing">No Housing Available!</p>
                        {{/if}}

                        {{/if}}
                    {{/if}}



                </div>
            </div>
        </div>
        {{/with}}
    </section>
</main>