<section>
    {{#with room}}
    <h1>{{name}} - Details</h1>
    <main>
        <p>City: {{city}}</p>
        <p>{{description}}</p>
        <p>Beds: {{beds}}</p>
        <p>Price per night: £{{price}}</p>
            <a href="/facility/{{_id}}/decorateRoom">Edit Facilities</a>
        <div class="img-cont">
            <img src="{{imageUrl}}">
        </div>
       
        
    </main>
    {{/with}}
</section>